--find-links=https://girder.github.io/large_image_wheels GDAL
# cartopy
folium==0.13.0
geemap[extra]
geopandas
jupyter-server-proxy
keplergl
leafmap
localtileserver
nbserverproxy
owslib
palettable
plotly
streamlit
streamlit-bokeh-events
streamlit-folium
streamlit-keplergl
tropycal
# git+https://github.com/giswqs/leafmap
# git+https://github.com/giswqs/geemap

